[{:itonami.blueprint/social-impact [:warehouse-safety :operator-wellbeing :supply-chain-continuity], :itonami.blueprint/domain :logistics/lifting-truck-operations, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "8344", :itonami.blueprint/name "Lifting Truck Operators Warehouse Coordination Practice", :itonami.blueprint/governor :lifting-truck-ops-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8344", :itonami.blueprint/license "AGPL-3.0-or-later"}]
